---
const { post } = Astro.props;
---
<section>
  <div class="post-card">
    <h2>{post.title}</h2>
    <p>{post.body}</p>
    <a href={`/posts/${post.id}`}>Ver detalles</a>
</div>  
</section>


<style>
    .post-card{
        display: grid;
        place-items: center;
    }

</style>
