---
const { post } = Astro.props;
---
    <section>
        <div class="post-card">
            <h2>{post.title}</h2>
            <p>{post.body}</p>
            <div>
                <button class="btn">
                    <i class="animation"></i>
                    <a href={`/posts/${post.id}`}>Ver detalles</a>
                    <i class="animation"></i>
                </button>
            </div>
        </div>  
    </section>


<style>
    .post-card{
        border-bottom: 1px  solid rgb(4, 20, 88);
        padding: 50px;
        display: grid;
        place-items: center;
    }
    p{
        text-align: center;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .btn {
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        background: rgb(4, 20, 88);
        min-width: 200px;
        border: 0;
        border-radius: 4px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
        box-sizing: border-box;
        padding: 16px 20px;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        overflow: hidden;
        cursor: pointer;
    }

    .btn:hover {
        opacity: .95;
    }

    .btn .animation {
        border-radius: 100%;
        animation: ripple 0.6s linear infinite;
    }

    @keyframes ripple {
        0% {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
        }

        100% {
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
        }
    }

</style>
